* {
  background-color: #f4f1f0;
  font-family: "Montserrat", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.navcon {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: black;
}
.angela-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.angela-body {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.formbox {
  /* background: RGB(240, 128, 128); */
  border-radius: 10%;
  height: 25%;
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

#input-submit {
  color: black;
  width: 15%;
}
