.nav {
  display: block;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: black;
}